<aside class="sidebar">

  <div class="logo">
    <img src="/icons/name-site.svg" alt="Notificações" class="logo-icon" />
  </div>

  <nav>

    <a routerLink="/dashboard">
      <span class="material-symbols-outlined">
        dashboard
      </span>

      Dashboard
    </a>

    @for (label of visibleItems; track $index) {
      <a routerLink="{{label.route}}">
        <span class="material-symbols-outlined">
          {{label.icon}}
        </span>

        {{label.label}}
      </a>
    }
  </nav>

</aside>
