<aside class="sidebar">

  <div class="logo">
    <img src="/icons/name-site.svg" alt="Notificações" class="logo-icon" />
  </div>

  <nav>

    <a routerLink="/dashboard">
      <img src="/icons/dashboard.svg" alt="Notificações" class="icon-dashboard" />

      Dashboard
    </a>

    @for (label of visibleItems; track $index) {
      <a routerLink="{{label.route}}">
        <img src="{{label.icon}}" alt="Notificações" class="{{label.class}}" />

        {{label.label}}
      </a>
    }
  </nav>

</aside>
