.sidebar {
  width: 300px;
  height: 100vh;

  background-color: var(--background-white2);

  border-right: 1px solid var(--border-black);

  /*background-color: var(--background-color);*/

  position: fixed;
  left: 0;
  top: 0;

  padding: 30px 20px;

  box-sizing: border-box;
}


.logo {

  color: var(--text-white);
  left: 5px;
  bottom: 12px;
  margin-bottom: 60px;
  position: relative;
}

.logo-icon {
  width: 250px;
  height: auto;
  position: absolute;
}


nav {
  display: flex;
  flex-direction: column;

  gap: 10px;
}


nav a {
  display: flex;
  align-items: center;

  gap: 15px;

  padding: 15px;

  text-decoration: none;

  color: var(--blue3);

  font-size: 20px;
  font-weight: 600;

  border-radius: 8px;
}


nav a:hover {
  background-color: #c5c5c5;
}


nav .material-symbols-outlined {
  font-size: 28px;
}