<aside class="sidebar">

  <div class="logo">
    GYM HUB
  </div>

  <nav>

    <a routerLink="/dashboard">
      <span class="material-symbols-outlined">
        dashboard
      </span>

      Dashboard
    </a>


    @if (usuarioLogado?.role === 'proprietario'){
    <a routerLink="/alunos">
      <span class="material-symbols-outlined">
        group
      </span>

      Alunos
    </a>
    }


    <a routerLink="/pagamentos">
      <span class="material-symbols-outlined">
        payments
      </span>

      Pagamentos
    </a>

    <a routerLink="/usuarios">
      <span class="material-symbols-outlined">
        person
      </span>

      Usuários
    </a>

  </nav>

</aside>