:host {
  display: block;
  height: 100%;
}

.header {
  height: 80px;
  width: 100%;

  background-color: var(--white1);

  border-bottom: 1px solid var(--border-black);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 24px;
  box-sizing: border-box;

  .left span {
    font-size: 1.2rem;
  }
}

/* PESQUISA */

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-search {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 40px;

  gap: 6px;
}

.search-icon {
  font-size: 32px;
  color: var(--blue3);
}

.header-search input {
  /* width: 185px; */
  height: 100%;
  width: 100%;

  border-radius: var(--radius15);
  border: 2px solid var(--border);
  outline: none;

  background-color: var(--white1);
  padding: 0 12px;

  box-sizing: border-box;

  font-size: 16px;
  font-weight: 600;
}

.header-search input::placeholder {
  color: #999;
}

/* NOTIFICAÇÕES */

.notification {
  border: none;
  background: transparent;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.notification .material-symbols-outlined {
  font-size: 28px;
  color: var(--blue3);
}

/* PERFIL */

.profile {
  display: flex;
  align-items: center;

  gap: 6px;

  cursor: pointer;
}

.profile-letter {
  width: 32px;
  height: 32px;
  aspect-ratio: 1;

  border-radius: var(--radius10);

  background-color: #fff;
  border: 1px solid #000;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.profile-name {
  display: inline-block;
  max-width: 140px;
  min-width: 0;
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--text-black);
}

.arrow {
  font-size: 35px;
  color: var(--text-black);
}

.right {
  display: flex;
  gap: 6px;
}
