:host {
  display: contents;
}


.content {
    /* display: flex; */
    
    height: 100%;
    max-width: 1145px;
    /* margin-left: 300px; */
}

.app {
    width: 100%;
    height: 100%;
    display: grid;

    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main"
    ;

    .sidebar {
        grid-area: sidebar;
        height: 100%;
    }

    .header {
        grid-area: header;
        height: 100%;

    }

    .main {
        grid-area: main;
        padding: 2rem;
        background-color: var(--white2);
    }
}
