<form [formGroup]="form">

  <div class="cadastro-page">

    <div class="cadastro-container">

      <!-- ========================================= -->
      <!-- LADO ESQUERDO - IMAGEM -->
      <!-- ========================================= -->

      <div class="cadastro-imagem">

        <div class="logo-gym">
          <span class="logo-icon">V</span>
          <span>Gym Hub</span>
        </div>

      </div>


      <!-- ========================================= -->
      <!-- LADO DIREITO - FORMULÁRIO -->
      <!-- ========================================= -->

      <div class="cadastro-form">


        <!-- ========================================= -->
        <!-- INDICADOR DAS ETAPAS -->
        <!-- ========================================= -->

        <div class="steps">

          <div
            class="step"
            [class.active]="etapaAtual === 1"
          >
            1
          </div>

          <div
            class="step-line"
            [class.completed]="etapaAtual === 2"
          ></div>

          <div
            class="step"
            [class.active]="etapaAtual === 2"
          >
            2
          </div>

        </div>


        <!-- ========================================= -->
        <!-- ETAPA 1 - CONTA -->
        <!-- ========================================= -->

        @if (etapaAtual === 1) {

          <div class="etapa">

            <h1>Crie Sua Conta Gym Hub</h1>


            <!-- NOME -->

            <!--<div class="campo">

              <label for="nome">
                Nome Completo
              </label>

              <input
                id="nome"
                type="text"
                placeholder="Nome Completo"
                formControlName="nome"
                required
              />

            </div>-->

            <mat-form-field appearance="outline">
              <mat-label>Nome Completo</mat-label>
              <input matInput formControlName="nome" type="email" placeholder="seu@email.com" required>
              <!--@if (.hasError('required')) {
                <mat-error>Nome é <strong>obrigatório</strong></mat-error>
            }-->
            </mat-form-field>



            <!-- EMAIL -->

            <!--<div class="campo">

              <label for="email">
                E-mail
              </label>

              <input
                id="email"
                type="email"
                placeholder="E-mail"
                formControlName="email"
                required
              />

            </div>-->

            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" type="email" placeholder="seu@email.com" required>
              @if ((emailFormControl.hasError('email') && !emailFormControl.hasError('required')) || emailFormControl.hasError("pattern")) {
                <mat-error>Informe um email válido</mat-error>
              }
              @if (emailFormControl.hasError('required')) {
                <mat-error>Email é <strong>obrigatório</strong></mat-error>
              }
            </mat-form-field>

            <!-- SENHA -->

            <!--<div class="campo">

              <label for="senha">
                Senha
              </label>

              <input
                id="senha"
                type="password"
                placeholder="Senha"
                formControlName="senha"
                required
              />

            </div>-->

            <mat-form-field appearance="outline">
              <mat-label>Senha</mat-label>
              <input matInput formControlName="senha" type="password" placeholder="********" required>
              @if (passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')) {
                <mat-error>A senha deve ter no mínimo 8 caracteres</mat-error>
              }
              @if (passwordFormControl.hasError('required')) {
                <mat-error>Senha é <strong>obrigatória</strong></mat-error>
              }
            </mat-form-field>


            <!-- BOTÕES -->

            <div class="acoes">

              <button
                mat-stroked-button
                
                type="button"
                routerLink=""
              >
                Voltar
              </button>

              <button
                class="btn-principal"
                type="button"
                [disabled]="!etapa1Valida()"
                (click)="proximaEtapa()"
              >
                Próximo
              </button>

            </div>

          </div>

        }


        <!-- ========================================= -->
        <!-- ETAPA 2 - ACADEMIA -->
        <!-- ========================================= -->

        @if (etapaAtual === 2) {

          <div class="etapa">

            <h1>Perfil da Academia</h1>


            <!-- ================================= -->
            <!-- UPLOAD DA LOGO -->
            <!-- ================================= -->

            <div class="logo-upload">

              <label for="logo">

                <div class="upload-circle">

                  <span>☁</span>

                </div>

              </label>

              <span>Logo da Academia</span>

              <input
                id="logo"
                type="file"
                accept="image/*"
              />

            </div>


            <!-- NOME DA ACADEMIA -->

            <div class="campo">

              <label for="nomeAcademia">
                Nome da Academia
              </label>

              <input
                id="nomeAcademia"
                type="text"
                placeholder="Nome da Academia"
                formControlName="nomeAcademia"
                required
              />

            </div>


            <!-- CNPJ -->

            <div class="campo">

              <label for="cnpj">
                CNPJ*
              </label>

              <input
                id="cnpj"
                type="text"
                placeholder="CNPJ"
                formControlName="cnpj"
                required
              />

            </div>


            <!-- TELEFONE -->

            <div class="campo">

              <label for="telefone">
                Telefone
              </label>

              <input
                id="telefone"
                type="tel"
                placeholder="Telefone"
                formControlName="telefone"
              />

            </div>


            <!-- ENDEREÇO -->

            <div class="campo">

              <label for="endereco">
                Endereço
              </label>

              <input
                id="endereco"
                type="text"
                placeholder="Endereço"
                formControlName="endereco"
                required
              />

            </div>


            <!-- ================================= -->
            <!-- BOTÕES -->
            <!-- ================================= -->

            <div class="acoes">

              <button
                class="btn-voltar"
                type="button"
                (click)="voltar()"
              >
                Voltar
              </button>
              <button
                class="btn-principal"
                type="button"
                [disabled]="!etapa2Valida()"
                (click)="cadastrar()"
              >
                Cadastrar
              </button>

            </div>

          </div>

        }

      </div>

    </div>

  </div>

</form>