<section class="auth-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Cadastrar-se</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field>
          <mat-label>Nome completo</mat-label>
          <input
            formControlName="nome"
            matInput
            type="text"
            placeholder="Ex: João Silva Lima"
            required
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Nome da academia</mat-label>
          <input
            formControlName="nomeAcademia"
            matInput
            type="text"
            placeholder="Ex: SmartFit"
            required
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            [formControl]="emailFormControl"
            type="email"
            placeholder="seu@email.com"
            required
          />
          @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Informe um email válido</mat-error>
          }
          @if (emailFormControl.hasError('required')) {
            <mat-error>Email é <strong>obrigatório</strong></mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input
            matInput
            formControlName="senha"
            [formControl]="passwordFormControl"
            type="password"
            placeholder="********"
            required
          />
          @if (
            passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')
          ) {
            <mat-error>A senha deve ter no mínimo 6 caracteres</mat-error>
          }
          @if (passwordFormControl.hasError('required')) {
            <mat-error>Senha é <strong>obrigatória</strong></mat-error>
          }
        </mat-form-field>

        <mat-card-actions>
          <button (click)="cadastrar()" mat-flat-button type="submit">Cadastrar</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</section>
