// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$green-palette,
      ),
      typography: Manrope,
      density: 0,
    )
  );

// PALETA DE CORES DA ID VISUAL //

  // Principal
  --mat-sys-primary: #32DD9F;
  --mat-sys-on-primary: #020611;

  // Containers da cor principal
  --mat-sys-primary-container: #B8F5DF;
  --mat-sys-on-primary-container: #020611;

  // Secundária
  --mat-sys-secondary: #217657;
  --mat-sys-on-secondary: #FFFFFF;

  // Containers da secundária
  --mat-sys-secondary-container: #C1E8D8;
  --mat-sys-on-secondary-container: #020611;

  // Terciária
  --mat-sys-tertiary: #217657;
  --mat-sys-on-tertiary: #FFFFFF;

  // Superfícies
  --mat-sys-background: #F8F8F8;
  --mat-sys-surface: #FFFFFF;
  --mat-sys-surface-container: #F8F8F8;
  --mat-sys-surface-container-low: #F8F8F8;
  --mat-sys-surface-container-high: #FFFFFF;

  // Texto
  --mat-sys-on-surface: #020611;
  --mat-sys-on-surface-variant: #4F5559;

  // Bordas
  --mat-sys-outline: #D5DAD8;
  --mat-sys-outline-variant: #E5E9E7;
}

body {
  color-scheme: light;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}
