* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Roboto", sans-serif;
  --background-color: #1F1F1F;
  --background-color-card: #F4F3F6;
  --text-color: #000000;
  --radius10: 10px;
  --radius15: 15px
}