<section class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [formControl]="emailFormControl" type="email" placeholder="seu@email.com" required>
            @if ((emailFormControl.hasError('email') && !emailFormControl.hasError('required')) || emailFormControl.hasError("pattern")) {
              <mat-error>Informe um email válido</mat-error>
            }
            @if (emailFormControl.hasError('required')) {
              <mat-error>Email é <strong>obrigatório</strong></mat-error>
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput [formControl]="passwordFormControl" type="password" placeholder="********" required>
            @if (passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')) {
              <mat-error>A senha deve ter no mínimo 6 caracteres</mat-error>
            }
            @if (passwordFormControl.hasError('required')) {
              <mat-error>Senha é <strong>obrigatória</strong></mat-error>
            }
        </mat-form-field>
        
        <article class="login-remember">
          <mat-checkbox>Lembrar-me</mat-checkbox>
          <a href="">Esqueci minha senha</a>
        </article>

        <mat-card-actions>
          <button mat-flat-button type="submit">Entrar</button>
          <button mat-raised-button>Cadastrar-se</button>
  
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</section>